body {
    margin: 0;
}
th {
    text-align: left;
}
.topo {
    height: 100px;
    background-color: #EEE;
}

.container {
    margin-top: 1%;
    left: 12%;
    right: 12%;
    height: 530px;    
}
.container-login {
    background-color: white;
    margin-top: 1%;
    left: 10%;
    right: 10%;
}
.container-home {
    background-color: #CCC;
    margin-top: 1%;
    left: 10%;
    right: 10%;    
    height: 550px;    
}
.container-empresa {
    background-color: #DDD;
    margin-top: 1%;
    left: 10%;
    right: 10%;   
    height: 530px;
}


.rodape {
    height: 50px;
    background-color: #DDD;   
}

.produto {
    width: 19%;
    height: 27%;
    background-color: #EEEEEE;
    float: left;
    margin-left: 3.5%;
    margin-right: 2%;    
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
}
.produto_categoria {
    float: left;
    margin-left: 3.5%;
    margin-right: 2%;    
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    text-align: center;
    width: 19%;
    height: 30%;
    background-color: #DDD;
}
.produto_categoria_row {
    height: 500px;
}

.produto_foto {
    background-color: white;
    width: 80px;

}
.thumbnail_temp {
    width: 30%; 
    height: 450px;
}
.div_foto_prod_ver {
    margin-top: 2%;
}
.row-carrinho {
    height: 530px;
}
.table_carrinho {
    padding: 50%;
}

.obrigado {
   margin-left: 35%; 
   margin-right: 30%; 
   border: 1px solid #CCC;
   width: 350px;
}


.categoria {
    float: left;    
}




.empresa, .carrinho, .contato, .finalizar {
    float: left;    
}

.contato input[type=text], input[type=email], textarea {
    width: 400px;
    border: 1px solid #CCC;
    padding: 5px;
    font-size: 14px;
}

.finalizar fieldset {
    width: 410px;
}
.finalizar input[type=text], input[type=email], input[type=password] {
    width: 400px;
    border: 1px solid #CCC;
    padding: 5px;
    font-size: 14px;
}
.field_user {
    float: left;
    margin-left: 8%;
    clear: both;
}
.field_end {
    float: left;
    margin-left: 8%;
}
.field_resumo_compra {
    float: left;
    margin-left: 8%;
}
.field_pgm {
    float: right;
    margin-left: 8%;
    margin-right: 10.3%
}
.field_btn_pgm {
    float: right;
    margin-left: 80px;
    margin-top: 7%;    
}


.carrinhu {
    width: 100px;
    height: 50px;
    float: right;
    background-color: white;
    
}

.erro {
    margin-top: 100px;
    float: left;
    margin-left: 100px;
    padding: 10px;
    background-color: orangered;
}

 .navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
 }

